{% extends 'layout.html' %}
{% block content %}
    <div class="container about-me">
        <div class="row">
            <div class="col-12 col-md-6 denisse"></div>
            <div class="col-12 col-md-6 bg-color-biography section-column">
                <h1 class="name mt-5 ml-3">Denisse Olsson</h1>
                <h2 class="mb-5 ml-3 title font-weight-normal ">Coach</h2>
                <h3 class="mb-3 font-weight-normal ml-3 section-heading uppercase">About me</h3>
                <p class="ml-3 history-heading content">I was born in the early '80s in Chiapas, Mexico. I'm a daughter of a Reiki-healer and my father an agricultural pilot. Sister of two younger siblings and aunt of a little dancing and shining girl. I'm a mother of an amazing and magical boy. Wife of my Swedish best friend and loving life partner. I have a bachelor's degree in Marketing and a Master's in International Business Management. Currently a finance specialist and <strong>Yoga and life coach</strong>.This is me, my roots, and connections on earth.</p>
                <h3 class="mb-3 mt-5 font-weight-normal ml-3 section-heading uppercase">Certifications</h3>
                <p><a class="ml-3 history-heading content certification" target="_blank" href="https://www.carpalunar.org/">Carpa Lunar</a><br><a class="ml-3 history-heading content certification" target="_blank" href="https://www.thecliqueacademy.com//">The Clique Academy</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
