{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <article id="myCoaching" class="text-center">
            <h1 class="name mt-5 ml-3">How does it work?</h1>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                    <p class="mt-5 content">You will be personally coached by me through video calls online on the life topics that are most relevant for you right now. There is no standard program but one carefully composed for you and your needs.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h1 class="my-4 text-uppercase font-weight-bold">1</h1>
                    <h2 class="mb-5 ml-3 title font-weight-normal">Book a meeting</h2>
                    <p class="content">We will start with a 30 min free discovery session to understand your needs and decide if and how we will work together.</p>
                    <i class="far fa-calendar-check fa-3x"></i>
                </div>
                <div class="col-md-4 mb-1">
                    <h1 class="my-4 text-uppercase font-weight-bold">2</h1>
                    <h2 class="mb-5 ml-3 title font-weight-normal">Bring up the inspiration</h2>
                    <p class="content">We will identify the areas where you are “stuck” and bring clarity about your values & life purpose. Define goals and align them with your inner truth and strength.</p>
                    <i class="fab fa-gratipay fa-3x"></i>
                </div>
                <div class="col-md-4 mb-1">
                    <h1 class="my-4 text-uppercase font-weight-bold">3</h1>
                    <h2 class="mb-5 ml-3 title font-weight-normal">Create your wings</h2>
                    <p class="content">With my guide, we will create an action plan to achieve the life you have been dreaming of, and yes, Become the best version of yourself! </p>
                    <i class="fas fa-feather-alt fa-3x"></i>
                </div>
            </div>
        </article>
    </div> 
<!--/.quotes-->
    <div class="container-wrapper">
        <div class="container reviews-container content-container">
            <section class="quotes">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="name mycoaching-name">Reviews</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="media">
                            <div class="d-none d-sm-block">
                                <img src="assets/images/Review4.jpg" alt="" class="rounded-circle mr-3" height=100 width=100>
                            </div>
                            <div class="media-body">
                                <blockquote class="blockquote">
                                    <p class="review">Denisse has helped me get to know myself better. She puts all her energy and love and is full of details
                                    to make you see how special you are. Her coaching is well structured and prepared for each session. I like that
                                    it integrates yoga and meditation.</p>
                                    <footer class="blockquote-footer">Cecilia Morales<br><cite title="Title">Economic and Political Analyst at the Embassy of Mexico.</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="media">
                            <div class="d-none d-sm-block">
                                <img src="assets/images/Review2.jpg" alt="" class="rounded-circle mr-3" height=100 width=100>
                            </div>
                            <div class="media-body">
                                <blockquote class="blockquote">
                                    <p class="review">Denisse gives you great advice and support to get the best out of you. She helped me to bring out the courage
                                    I needed at a time. </p>
                                    <footer class="blockquote-footer">Iera Fraile<br><cite title="Title">International Business Development Manager at Nolek
                                    - Leak Testing, Leak Detection, and Proof Testing Solutions.</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}