{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                ​<img src="static/images/womens_circle.png" class="rounded mx-auto d-block" alt="Responsive image">
            </div>
            <div class="col-12 col-md-6">
                <h1 class="name mt-5 ml-3">Women's circle</h1>
                    <p class="ml-3 mt-5 history-heading content">A women's circle is a safe and sacred space for women to come together, use their voices, be heard, and seen. Women throughout history have gathered in circles to empower each other and share wisdom. Women's circles are important at this time as society is so fast-paced and focused on achieving things.</p>
                    <p class="ml-3 history-heading content">Women often give hugely to the world and don't allow time for themselves. Women's circles are spaces where women may celebrate, nurture, and replenish themselves.</p>
                    <p class="ml-3 history-heading content">The circles will include different practices such as journaling, meditation, restorative Yoga, breathing exercises among other sounds, aromatherapy and healing exercises.</p>
                <div class="col-12 mt-5 mb-5">
                    <i class="far fa-calendar-check fa-3x text-uppercase font-weight-bold"></i>
                    <h2 class="mt-5 title font-weight-normalt">Check out the dates/topics<a class="check ml-2" href="#">Comming soon</a></h2>
                </div>
            </div>
        </div>
    </div>     
{% endblock content %}
         