@import url('https://fonts.googleapis.com/css?family=Oswald:300,500&display=swap');

.brand-header  {
    width: 100%;
}

.logo {
    height: 10vh;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/logo_horizontal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(199, 99, 177, 0.9);
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(101, 14, 172, 0.9);
}

.navbar {
    margin-left: 0;
    border: 0;
    font-size: 20px;
    width: 100%;
    padding: 0;
}

.navbar .navbar-toggler {
    border: 1px solid transparent;
}

.justify-content-center {
    padding-top: 40px;
}

.container-fluid {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.callout-container {
    height: 75vh;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/logo_denisse_olsson_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.static {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: rgba(199, 99, 177, 0.9);
    width: 800px;
    margin-right: 170px;
    margin-top: 100px;
}

#message {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: rgba(199, 99, 177, 0.9);
    position: absolute;
    margin-left: 225px;
    margin-top: 100px;
    word-wrap: break-word;
}

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 450px;
    margin-top: 20px;
    position: relative;
}

.btn--pink {
    color:white;
    background-color: rgba(199, 99, 177, 0.9);
}

.btn--pink:hover {
    background-color: rgba(101, 14, 172, 0.9);
    color: white;
}

.modal-title {
    color: rgba(199, 99, 177, 0.9);
}

.fa-heart {
    color: rgba(101, 14, 172, 0.9);
    size: 100px;
    display: inline;
    position: inherit;
    padding-left: 12rem;
}

.modal-center {
    display: block;
    position: inherit;
    text-align: center;
}

footer {
    font-family: 'Oswald', sans-serif;
    color:rgba(199, 99, 177, 0.9);
    text-align: right;
    padding-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 60%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:white;
    background:rgba(101, 14, 172, 0.9);
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(199, 99, 177, 0.9);
}

@media (max-width: 1199.98px) {
   .d-sm-none {
       display: none;
        }
}
