@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
}

.mr-5,
.mx-5 {
    margin-right: 0rem!important;
}

.container-fluid {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-light .navbar-brand {
    color: rgba(224, 126, 203, 0.9);
    font-weight: 60%;
}

.bg-light {
    background-color: white;
}

.callout-container {
    height: 90vh;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/FONDO%20PRIMERA%20PAGINA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}