@import url('https://fonts.googleapis.com/css?family=Oswald:300,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


/*-----------------------------------------------------------------------navbar*/
.container {
    padding: 0;
}

.brand-header  {
    width: 100%;
}

.nav-item {
    font-family: 'Oswald', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(199, 99, 177, 0.9);
    font-size: 15   px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(101, 14, 172, 0.9);
}

.navbar-brand {
    width: 60%;
}

img {
    width: 100%;
    align-content: center;
    position: initial;
    padding-top: 20px;
}

.nav-right{
    float: right !important;
    margin: 8px 15px !important;
}

.navbar {
    margin-left: 0;
    border: 0;
    font-size: 18px;
    width: 100%;
    padding: 0;
}

.navbar .navbar-toggler {
    border: 1px solid transparent;
}

.nav {
    padding-top: 40px;
}

.img-fluid {
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/fondo_superior.png);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-----------------------------------------------------------------------callout*/
.col {
    max-width: 60%;
}

.callout-container {
    height: 77vh;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/denisse_olsson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.static {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: rgba(199, 99, 177, 0.9);
    margin-top: 100px;
    position: relative;
    width: 380px;
    right: 170px;
}

#message {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: rgba(199, 99, 177, 0.9);
    margin-top: 100px;
    position: absolute;
    width: 350px;
}

/*-----------------------------------------------------------------------modal*/
.btn {
    font-weight: 200;
}

.btn-cta-submit {
    border-radius: 50px;
    width: 377px;
    margin-top: 19px;
    margin-left: 40px;
}

.btn-cta {
    border-radius: 50px;
    width: 377px;
    margin-top: 19px;
}

.btn--pink {
    color:white;
    background-color: rgba(199, 99, 177, 0.9);
}

.btn .btn-cta .btn--pink {
    text-align: center;
}
.btn--pink:hover {
    background-color: rgba(101, 14, 172, 0.9);
    color: white;
}

.modal-title {
    color: rgba(199, 99, 177, 0.9);
}

.fa-heart {
    color: rgba(101, 14, 172, 0.9);
    display: inline;
    position: inherit;
    padding-left: 12rem;
}

.modal-center {
    display: block;
    position: inherit;
    text-align: center;
}
/*-----------------------------------------------------------------------footer*/

footer {
    font-family: 'Oswald', sans-serif;
    color:rgba(199, 99, 177, 0.9);
    text-align: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 60%;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    color:white;
    background:rgba(101, 14, 172, 0.9);
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(199, 99, 177, 0.9);
}

.list-inline {
    padding-top: 10px;
    padding-bottom: 10px;
    position: inherit;
}

.general-sub {
    padding-top: 10px;
}

/*-----------------------------------------------------------------------myCoaching*/
section {
    font-family: 'Oswald', sans-serif;
}

.review {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.mt-4 {
    height: 731.25px;
    padding-top: 20px;
}

cite{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px; 
    color: rgba(101, 14, 172, 0.9);
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px; 
    font-weight: 400;
    color: rgba(101, 14, 172, 0.9);
}

h3, strong {
    font-family: 'Oswald', sans-serif;
    font-size: 16px; 
    color: rgba(101, 14, 172, 0.9);
    margin: 0px;
}

i {
    color: rgba(101, 14, 172, 0.9);
}

.mr-5 {
    margin-right: 12rem!important;
}

#after_submit, #after_click{
    visibility:  hidden;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-info {
    color: #fff;
    background-color: rgba(101, 14, 172, 0.9) !important;
}

 .fa-hand-holding-heart {
    color:  #fff;
}

#mc {
padding-left: 10px;
}

.content {
    font-size: 18px;
}
.btn--lila{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: rgba(101, 14, 172, 0.9);
    color: #fff;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 23px;
    margin-top: 10px;
}
.btn--lila:hover{
    background-color: rgba(199, 99, 177, 0.9);
}
.btn-info{
    border-radius: 23px;
    width: 200px;
    margin-top: 20px;
}

.content {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.mycoaching-name {
    padding-top: 35px;
}

/*-----------------------------------------------------------------------events*/
.rounded {
    width: 100%;
}

#map {
    height: 360px;
    width: 360px;
    }
.container-event {
    font-family: 'Oswald', sans-serif;
    height: 70vh;
    display: cover;
    max-width: 100%;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/favpng_butterfly-watercolor-painting-illustration_ywinebux.png);/*----https://favpng.com/---*/
    background-repeat: no-repeat;
    background-position: inherit;
    color: rgba(101, 14, 172, 0.9);
    font-weight: 200;
}

/*-----------------------------------------------------------------------aboutMe*/
  h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(101, 14, 172, 0.9);
  }

  .denisse {
      background: url("../images/denisse.JPG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
  }

  .certification {
      color: black;
      font-size: 14;
  }
  
/*-----------------------------------------------------------------------blog*/
a {
    color: rgba(199, 99, 177, 0.9);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

main {
    margin-top: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.article-title {
  color: rgb(101, 14, 172, 0.9);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

a.article-title:hover {
  color: rgba(199, 99, 177, 0.9);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

  /*-----------------------------------------------------------------------responsive*/

@media (min-width: 768px) {
    .quiz-slide {
        width: 400px;
        left: 210px;
        top: 200px;
    }
    .navbar {
        display: block;
    }

}
@media (max-width: 768px) {
    .callout-container {
    height: 75vh;
    background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/background_max_with_700_wings_and_inspiration.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }
    #map {
        width: 200px;
    }
}

@media (min-width: 992px) {
    img {
        display: none;
        width: 100%;
        }
    .not_visible {
        display: none;
    }
    .navbar-brand {
        width: 100%;
    }
    .quiz-slide {
    width: 400px;
    left: 780px;
    top: 200px;
    }
}



@media (min-width: 700px) {
    img {
        display: none;
        width: 100%;
        }
}

@media only screen and (max-width: 600px) {
    .justify-content-center {
        padding-top: 0;
    }
    .static {
        display: none;
    }
    #message {
        position: inherit;
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        font-size: 20px;
    }
    .btn-cta {
        width: 325px;
        font-size: 16px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }
    .navbar {
        width: 100%;
        }
    .quiz-photo {
        height: 75vh;
        background: none;
        margin-top: 48px;
    }
    .canvas {
        display: none;
    }
    #results {
        font-weight: 300;
        font-size: 16px;
    }
    .callout-container {
        height: 75vh;
        background: url(https://raw.githubusercontent.com/Mlince79/WingsAndInspiration2/master/assets/images/logo_denisse_olsson_index.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

     .denisse {
         padding: -10px;
     }
    #map {
        width: 350px;
    }
    .fa-heart {
        padding-left: 7rem;
}

